section.cover {
    background-image: url("/images/covers/header_flowers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.cover div div div img {
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

section.cover div div div.coverInfo {
    background-color: white;
    padding: 3rem;
    border-radius: 10%;
}